html {
  font-size: 62.5%;

  @media #{$mobile} {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
}

.br--no-mobile {
  @media #{$mobile} {
    display: none;
  }
}
