nav.navbar {

  position: fixed;
  top: 0;
  z-index: 9995;
  width: 100%;
  height: 6.4rem;

  background: #FFFFFF;

  @media #{$mobile} {
    display: none;
    height: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;

    transform-style: preserve-3d;
  }

  li {

    display: inline-block;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: top;

    margin: 0 1rem;

    color: #000000;
    font-weight: 700;
    text-transform: uppercase;

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid #7B0000;
      }
    }

    &.logo {
      width: 4.16em;
      height: 3em;
      background: url('../../img/gugas-logo.png') no-repeat center center;
      background-size: contain;
    }

    &.icon {
      width: 1.5em;
      height: 1.5em;

      margin: 0 0.35rem;

      a:hover {
        border-bottom: none;
      }

      i {

        display: inline-block;
        width: 100%;
        height: 100%;

        direction: ltr;
        text-indent: -99999px;

        background: none no-repeat center center;
        background-size: contain;

      }

      &.facebook i {
        background-image: url('../../img/facebook-icon.png');
      }

      &.twitter i {
        background-image: url('../../img/twitter-icon.png');
      }

    }

    &.lang {
      position: relative;
      left: 0;
      border: 2px solid #000;
      box-sizing: border-box;
      width: 2em;
      height: 2em;
      text-align: center;
      padding: 0.4em 0;
    }
  }

}
