nav.navmenu {

  visibility: hidden;
  position: absolute;
  position: fixed;
  left: -65%;
  top: 0;
  bottom: 0;
  z-index: 9995;

  box-sizing: border-box;
  width: 65%;
  height: 100%;
  height: 100vh;
  padding: 0.5em;

  background: #ffffff;
  color: #000000;

  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;

  display: none;

  @media #{$mobile} {
    display: block;
  }

  .navmenu--open & {
    visibility: visible;
    left: 0;
    overflow-y: auto;
  }

  transition: left .5s, visibility .5s;

  .logo {
    width: 100%;
    height: 3em;
    background: url('../../img/gugas-logo.png') no-repeat center center;
    background-size: contain;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 1em 0;
  }

  li {
    padding: 0.85em 0;
    border-bottom: 1px solid #7B0000;

    &:first-child {
      border-top: 1px solid #7B0000;
    }

    a {

      &::before {
        content: '\25A0';
        color: #7B0000;
        display: inline-block;
        margin-right: 0.35em;
      }

    }
  }

  .icon-wrapper {
    text-align: left;
  }

  .icon {
    display: inline-block;
    width: 2em;
    height: 2em;

    margin: 0 1em 0 0;

    i {

      display: inline-block;
      width: 100%;
      height: 100%;

      direction: ltr;
      text-indent: -99999px;

      background: none no-repeat center center;
      background-size: contain;

    }

    &.facebook i {
      background-image: url('../../img/facebook-icon.png');
    }

    &.twitter i {
      background-image: url('../../img/twitter-icon.png');
    }

  }

}

.navmenu--button {

  position: absolute;
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 9996;

  width: 2.4em;
  height: 2.4em;

  display: none;

  @media #{$mobile} {
    display: block;
  }

  background-color: rgba(0, 0, 0, 0.5);
  @include hamburger-menu-svg;
  background-size: contain;
  outline: 0.65rem solid rgba(0, 0, 0, 0.5);

  transition: left .5s;

  .navmenu--open & {
    left: 70%;
    left: calc(65% + 1em);
  }

}

.navmenu--open {
  overflow-y: hidden;
  position: fixed;
}


.navmenu--languages {
  box-sizing: border-box;
  position: absolute;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 9996;

  width: auto;
  height: 2.4em;

  display: none;

  @media #{$mobile} {
    display: block;
  }

  background-color: rgba(0, 0, 0, 0.5);
  outline: 0.65rem solid rgba(0, 0, 0, 0.5);

  a {
    box-sizing: border-box;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid;
    text-align: center;
    width: 2.4em;

    padding: 0.6em 0;
    font-weight: 300;
    text-transform: uppercase;
  }

}
