.section {
  position: relative;

  background-color: #ffffff;
  color: #000000;
  font-size: 2rem;
  font-weight: 300;

  padding: 1.6rem;

  box-sizing: border-box;
  max-width: 100%;
  min-height: 480px;
  height: 600px;
  height: calc(100vh - 6.4rem);

  @media #{$mobile} {
    height: 100vh;
  }

  &.section-first {
    margin-top: 6.4rem;

    @media #{$mobile} {
      margin-top: 0;
    }
  }

  &.section__bg-neg {
    background-color: #7b0000;
    color: #ffffff;
  }

  &.section__bg-img {
    background: none no-repeat center center #7b0000;
    background-size: cover;
    color: #ffffff;
  }

  // Background video
  &.section__bg-video  {

    > .section__bg-video--bg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -100;
      overflow: hidden;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
      transform: translate(-50%, -50%);

      @media #{$mobile} {
        display: none;
      }
    }

  }

  h2, h3, p {
    margin: 0 0 0.5em 0;
    line-height: 1em;
    text-align: center;
  }

  h2 {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    line-height: 1.4em;
  }

  strong {
    font-weight: bold;
  }

  .subheading {
    font-size: 3rem;
    line-height: 1em;
  }

}
