vesper-slider {
  
  position: relative;
  display: block;
  width: 100%;
  top: 0;
  padding: 0;
  overflow: hidden;
  
  vesper-slides-container {
    
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    transition: all 0.3s;
    
    vesper-slide {
      
      float: left;
      position: relative;
      display: block;
      width: 0;
      height: 100%;
      background-size: cover;
      background-position: center;
      
    }
    
  }
  
  vesper-slider-controls {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    
    input.slider--slide-control {
      display: none;
    }
    
    label.slider--slide-selector {
      
      display: inline-block;
      margin: 0 0.5em;
      padding: 0.8rem;
      margin-left: 0;
      border-radius: 2.4rem;
      background: #FFFFFF;
      border: 1px solid #000000;
      cursor: pointer;
      
      @media #{$mobile} {
        margin: 0 0.65em;
      }
          
    }
    
    label.slider--slide-selector:hover,
    input.slider--slide-control:checked + label.slider--slide-selector {
      background: #000000;
    }
    
  }
  
}
