section.section.accommodation {
  background-color: #EEF4F9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url('../../img/bedroom.jpg');

  h2, p {
    text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.75);
  }
}
