section.section.contact-us {

  h2 {
    margin-bottom: 0.65rem;
  }

  p {
    font-size: 1.8rem;
  }

  p.subheading {
    font-size: 2.4rem;
    margin-bottom: 1.6em;
  }

  .small-note {
    font-size: 0.65em;
    margin-top: 1em;
    text-align: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  form {

    .form--field {
      margin-top: 1.6rem;

      &.form--field-centered {
        text-align: center;
      }
    }

    input[type=text],
    input[type=number],
    input[type=password],
    input[type=email],
    textarea,
    vesper-select-wrapper {
      box-sizing: border-box;

      appearance: none;
      width: 100%;

      padding: 0.5em;

      font-family: 'Lato', sans-serif;
      font-size: 1.8rem;
      font-weight: 300;

      color: #ffffff;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 0;

      &::placeholder {
        color: #ffffff;
      }

      &:focus {
        color: #000000;
        background: #ffffff;
        outline: none;
        box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.65);

        &::placeholder {
          color: #000000;
        }
      }

      &.ng-dirty.ng-touched.ng-invalid {
        background: #c00000 !important;
        border-color: #ff0000 !important;
        color: #ffffff !important;

        &::placeholder {
          color: #ffffff;
        }
      }

    }

    vesper-select-wrapper {
      display: block;
      position: relative;
      background: url('../../img/dropdown-arrow.png') no-repeat right center;
      background-size: contain;
    }

    select[vesper-select-control] {
      appearance: none;
      opacity: 0.01;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }

    button[type="submit"] {
      cursor: pointer;
      appearance: none;
      border: 1px solid #A89F9F;
      border-radius: 2px;
      background: #AF845F;
      color: #FFFFFF;
      font-size: 1.8rem;
      font-weight: bold;
      text-transform: uppercase;
      padding: 1em 3.6em;

      &[disabled] {
        cursor: default;
        background: #999999;
        opacity: 0.75;
      }
    }

  }

  .contact-thanks {
    text-align: center;
    font-weight: 400;
    margin-top: 3em;
  }

}
