@keyframes upndown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(33%);
  }
  100% {
    transform: translateY(0);
  }
}

section.section.home {

  background: none no-repeat center center #88524D;
  background-size: cover;

  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.75);

  @media #{$mobile} {
    background-image: url('../../vid/shrimps-lq.jpg')
  }

  .scroll-indicator {
    margin-top: 6rem;
    font-size: 1.4rem;

    @media #{$mobile} {
      font-size: 1.8rem;
    }
  }

  i.scroll-indicator__arrow {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: url('../../img/scroll-indicator__arrow.png') no-repeat center center transparent;
    background-size: contain;

    animation: upndown 2s infinite;
  }

}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.temporary-banner {
  text-align: center;
  background: #7b0000;
  font-weight: bold;
  padding: 1.5em;
  margin-top: 2em;
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 8px #7b0000, 0.1em 0.1em 0.2em 8px rgba(0, 0, 0, 0.35);

  &.temporary-banner--animate {
  	-webkit-animation-name: spaceboots;
  	-webkit-animation-duration: 0.8s;
  	-webkit-transform-origin:50% 50%;
  	-webkit-animation-iteration-count: 3;
  	-webkit-animation-timing-function: linear;
  }
}
