section.section.menu {
  background: url('../../img/menu-bg.jpg') no-repeat center center #2D1F16;
  background-size: cover;

  gugas-menu {

    position: relative;
    display: block;
    width: 90%;
    height: 50%;
    height: 50vh;
    min-height: 350px;

    background: #ffffff;

    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 0 0 20rem;

    overflow: hidden;

    @media #{$mobile} {
      width: 100%;
      height: 80%;
      height: 80vh;

      padding: 0;
    }

    .menu-image {
      position: absolute;
      width: 20rem;
      top: 0;
      bottom: 0;
      left: 0;

      z-index: 9999;

      background: url('../../img/menu-side.jpg') no-repeat center center;
      background-size: cover;

      @media #{$mobile} {
        display: none;
      }
    }

    [gugas-menu-action] {

      position: absolute;
      top: 2.2rem;
      display: block;
      width: 1.8rem;
      height: 3.1rem;

      z-index: 9995;

      background: none no-repeat center center transparent;
      background-size: contain;

      @media #{$mobile} {
        top: 2rem;
      }

      &[gugas-menu-action="left"] {
        left: 21.6rem;
        background-image: url('../../img/arrow-left.png');

        @media #{$mobile} {
          left: 1.6rem;
        }
      }

      &[gugas-menu-action="right"] {
        right: 1.6rem;
        background-image: url('../../img/arrow-right.png');
      }

    }

  }

  gugas-dish-type-container {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  gugas-dish-type {
    float: left;
    position: relative;
    display: block;
    width: 0;
    height: 100%;

    padding: 1.6rem;

    box-sizing: border-box;

    overflow: hidden;

    h2 {
      font-size: 2.6rem;
      margin-bottom: 0.4rem;
      padding: 0.8rem 2.2rem; // remove me if we implement p.subheading again

      @media #{$mobile} {
        font-size: 2.4rem;
      }
    }

    p.subheading {
      /* unused */
      font-size: 1.6rem;
      border-bottom: 1px solid #880000;
      padding: 0 0 0.8rem;
      margin: 0 0 1.2rem;

      @media #{$mobile} {
        font-size: 1.4rem;
      }
    }

    .subheading-division {
      width: 100%;
      height: 0;
      border-bottom: 1px solid #880000;
    }
  }

  vesper-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8rem 0 0 0;
    box-sizing: border-box;

    &.slider-desktop {
      display: block;

      @media #{$mobile} {
        display: none;
      }
    }

    &.slider-mobile {
      display: none;

      @media #{$mobile} {
        display: block;

        .slider--slide-selector {
          margin: 0 0.5em;
        }
      }
    }
  }

  vesper-slider-controls {
    bottom: 0.8rem;
  }

  vesper-slide {
    padding: 0 1.6rem 3.2rem;
    box-sizing: border-box;

    gugas-dish-photo {
      display: block;
      width: 100%;
      height: 10rem;
      background: none no-repeat center center;
      background-size: cover;

      @media #{$mobile} {
        height: 20rem;
      }
    }

    h3 {
      font-size: 1.8rem;
      line-height: 1.15em;
      text-align: left;
      font-weight: 700;
      margin: 0.5em 0;

      @media #{$mobile} {
        font-size: 3rem;
      }
    }

    gugas-dish-description {
      display: block;
      font-size: 1.4rem;
      line-height: 1.1em;
      font-weight: 300;

      @media #{$mobile} {
        font-size: 2rem;
      }
    }
  }

  .note {
    text-align: center;
    color: #fff;
    font-size: 0.7em;
    margin-top: 0.7em;

    @media #{$mobile} {
      margin-top: 0.35em;
    }
  }

}
