section.section.reviews {
  
  i.reviews__icon {
    display: block;
    width: 100%;
    height: 2em;
    background: url('../../img/reviews-icon.png') no-repeat center center transparent;
    background-size: contain;
    margin-bottom: 0.5em;
  }
  
  h2 {
    margin-bottom: 0.65rem;
  }
  
  p.subheading {
    font-size: 2.4rem;
    margin-bottom: 3.6em;
  }
  
  vesper-slider {
    padding-bottom: 5rem;
  }
  
  vesper-slide {
    
    p {
      font-weight: 400;
      font-style: italic;
      
      &.review-author {
        font-weight: 700;
        font-style: normal;
        
        .review-author__location {
          font-weight: 400;
        }
      }
    }
    
  }
  
}
