@import '../lib/gridle/gridle';

$mobile-width: 768px;
$tablet-width: 1024px;

$mobile: "only screen and (max-width: " $mobile-width ")";
$tablet: "only screen and (min-width: " ($mobile-width + 1) ") and (max-width: " $tablet-width ")";

@include gridle_setup(
  (
    context: 12,
    gutter-width: 10px
  )
);

@include gridle_register_state(
  mobile, (
    max-width: $mobile-width
  )
)

@include gridle_register_state(
  tablet, (
    min-width: $mobile-width + 1,
    max-width: $tablet-width
  )
)
