@import 'misc/reset';

@import 'grid-settings';
@include gridle_generate_classes();

.container {
  max-width: 960px;
  margin: 0 auto;

  @media #{$tablet} {
    max-width: $mobile-width;
  }
}

@import 'misc/hamburger-menu-svg';

@import 'styles/base';
@import 'styles/section';
@import 'styles/vcenter';
@import 'styles/navbar';
@import 'styles/navmenu';
@import 'styles/vesperslider';
@import 'sections/home';
@import 'sections/menu';
@import 'sections/accommodation';
@import 'sections/reviews';
@import 'sections/contact-us';

@media #{$mobile} {
    html[lang] { /* hax */
        margin-top: 0 !important;
    }

    #wpadminbar {
        display: none;
    }
}
